<h3>Asset Form</h3>
<hr>
<form>
    <mat-form-field>
        <input matInput placeholder="Name" id="itemName" name="itemName" required>
    </mat-form-field> <br>

    <mat-form-field>
        <input matInput placeholder="Model" id="itemModel" name="itemModel" required>
    </mat-form-field> <br>

    <mat-form-field>
        <input matInput placeholder="Description" id="itemDes" name="itemDes">
    </mat-form-field> <br>

    <mat-form-field>
        <input matInput placeholder="Serial #" id="itemSerial" name="itemSerial">
    </mat-form-field> <br>

    <mat-form-field>
        <input matInput placeholder="Cost (USD)" id="itemCost" name="itemCost">
    </mat-form-field> <br>

    <mat-form-field>
        <input matInput placeholder="Quantity" id="itemQty" name="itemQty">
    </mat-form-field> <br>

    <p>
        <button type="submit" mat-raised-button color="primary">Submit</button>
        <button type="reset" mat-raised-button color="accent">Reset</button>
    </p>
</form>
