<h3>{{mode}} Assets Here!</h3>
<hr>
<form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <mat-form-field>
        <input matInput placeholder="Name" id="itemName" [(ngModel)]="itemName" name="itemName" required>
    </mat-form-field> <br>

    <mat-form-field>
        <input matInput placeholder="Model" id="itemModel" [(ngModel)]="itemModel" name="itemModel" required>
    </mat-form-field> <br>

    <mat-form-field>
        <input matInput placeholder="Description" id="itemDes" [(ngModel)]="itemDes" name="itemDes">
    </mat-form-field> <br>

    <mat-form-field>
        <input matInput placeholder="Serial #" id="itemSerial" [(ngModel)]="itemSerial" name="itemSerial">
    </mat-form-field> <br>

    <mat-form-field>
        <input matInput placeholder="Cost (USD)" id="itemCost" [(ngModel)]="itemCost" name="itemCost">
    </mat-form-field> <br>

    <mat-form-field>
        <input matInput placeholder="Quantity" id="itemQty" [(ngModel)]="itemQty" name="itemQty">
    </mat-form-field> <br>

    <p>
        <button type="submit" mat-raised-button color="primary">Submit</button>
        <button type="reset" mat-raised-button color="accent">Reset</button>
    </p>
</form>
