div {
    margin-left: 10%;
}

button {
    margin-left: 10%; 
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-left: 10%;
    margin-bottom: 25%;
  }

  th{
    color: white;
    background-color: #673ab7;
  }

  td, th {
    border: 2px solid #5e5e5e;
    text-align: center;
    padding: 8px;
    max-width:100%;
    white-space:nowrap;
  }

  tr:nth-child(odd) {
    background-color:lighten($color: #673ab7, $amount: 40);
  }

  .b1{
    padding: 1px;
    margin:5px;
  }

  #b2{
    padding: 1px;
    margin:5px
  }