<h3>{{mode}} Users Here!</h3>
<hr>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" #myForm="ngForm">
    <mat-form-field appearance="fill">
        <input matInput placeholder="Name" formControlName="Name" [(ngModel)]="Name" name="Name" type="text" required>
    </mat-form-field> <br>

    <mat-form-field appearance="fill">
        <mat-label>Department</mat-label>
        <mat-select matInput placeholder="Department" formControlName="userDept" [(ngModel)]="userDept" name="userDept">
            <mat-option value="Information Security">Information Security</mat-option>
            <mat-option value="Service Desk">Service Desk</mat-option>
            <mat-option value="Network">Network Ops</mat-option>
        </mat-select>
        
    </mat-form-field> <br>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Email" formControlName="userEmail" [(ngModel)]="userEmail" name="userEmail" type="email" pattern="[a-z0-9._%+-]+[a-z0-9.-]+\.[a-z]{2,3}$" required>
        <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)"></div>
        <div [hidden]="!emailref.errors?.pattern">Invalid Pattern</div>
    </mat-form-field> <br>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Username" formControlName="userName" [(ngModel)]="userName" name="userName" type="text">
    </mat-form-field> <br>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Phone" formControlName="userPhone" [(ngModel)]="userPhone" name="userPhone" type="tel">
    </mat-form-field> <br>

    <mat-form-field appearance="fill">
        <input matInput placeholder="User Title" formControlName="userTitle" [(ngModel)]="userTitle" name="userTitle" type="text" required>
    </mat-form-field> <br>

    <p>
        <button type="submit" mat-raised-button color="primary" [disabled]="!userForm.valid">Submit</button>
        <button type="reset" mat-raised-button color="accent">Reset</button>
    </p>
</form>
