footer {
  padding: 20px;
  background: #673ab7;
  position: absolute;
  margin: 0;
  bottom: 0;
  width: 100%;
  
}

  h5 {
    align-content: center;
    color: white;
    font-size: medium;
    margin-left: 40%;
  }
  a {
    align-content: center;
    color: white;
    font-size: medium;
    margin-left: 40%;
  }
