<h3>{{mode}} Assets Here!</h3>
<hr>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" #myForm="ngForm">
    <mat-form-field appearance="fill">
        <input matInput placeholder="Name" formControlName="itemName" [(ngModel)]="itemName" name="itemName" type="text" required>
    </mat-form-field> <br>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Model" formControlName="itemModel" [(ngModel)]="itemModel" name="itemModel" type="text" required>
    </mat-form-field> <br>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Description" formControlName="itemDes" [(ngModel)]="itemDes" name="itemDes" type="text">
    </mat-form-field> <br>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Serial #" formControlName="itemSerial" [(ngModel)]="itemSerial" name="itemSerial" type="text">
    </mat-form-field> <br>

    <mat-form-field appearance="fill">
        <input matInput class="right-align" placeholder="Cost (USD)" formControlName="itemCost" [(ngModel)]="itemCost" name="itemCost" type="number" placeholder="0">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
    </mat-form-field> <br>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Quantity" formControlName="itemQty" [(ngModel)]="itemQty" name="itemQty" type="number">
    </mat-form-field> <br>

    <p>
        <button type="submit" mat-raised-button color="primary" [disabled]="!profileForm.valid">Submit</button>
        <button type="reset" mat-raised-button color="accent">Reset</button>
    </p>
</form>
