
button {
    margin-left: 10%;
}

div {
    margin-left: 10%;
}

button {
    margin-left: 10%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /**/
    bottom: auto;
  
  }

th{
  color: #1e5d88;
  background-color: white;
}
  
  td, th {
    border: 1px solid #5e5e5e;
    text-align: center;
    padding: 8px;
    max-width:100%;
    white-space:nowrap;
  }
  
  tr:nth-child(odd) {
    background-color: #1e5d88;
  }

  .b1{
    padding: 1px;
    margin:5px;
  }
