<mat-toolbar color="primary" class="fixed-header"> 
    <mat-toolbar-row>
      <span>
        <button mat-raised-button routerLink="/home" style="font-size: x-large;">Content Manager 2.0</button>
      </span>
      <span class="example-spacer"></span>
      <button  *ngIf="!_authenticationService.loggedIn()" mat-icon-button routerLink="/login" matTooltip="CLICK HERE TO LOGIN!" class="person-icon" aria-label="icon-button with person icon">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Home" routerLink="/home" class="home-icon" aria-label="icon-button with home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button (click)="onOpenDialog()" matTooltip="Notifications" class="notifications-icon" aria-label="icon-button with notifications icon">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button (click)="onOpenDialog()" matTooltip="App Settings" class="settings-icon" aria-label="icon-button with settings icon">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button (click)="onOpenDialog()" matTooltip="Help" class="help_outline-icon" aria-label="icon-button with help_outline icon">
        <mat-icon>help_outline</mat-icon>
      </button>
      <button  *ngIf="_authenticationService.loggedIn()" mat-icon-button  matTooltip="Logout" class="exit_to_app-icon" aria-label="icon-button with exit_to_app icon" (click)="_authenticationService.logoutEmployee()" >
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button mat-icon-button matToolTip="Menu" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="assets">Asset Management</button>
          <button mat-menu-item [matMenuTriggerFor]="users">User Management</button>
        </mat-menu>

        <mat-menu #assets="matMenu">
          <button mat-menu-item routerLink="/listassets">View Assets</button>
          <button mat-menu-item routerLink="/assets">Add Asset</button>
        </mat-menu>

        <mat-menu #users="matMenu">
          <button mat-menu-item routerLink="/list-users">View Users</button>
          <button mat-menu-item routerLink="/create-user">Add User</button>
        </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>



<app-footer></app-footer>

<router-outlet></router-outlet>
