<br>
<div>
    <h1>Asset List</h1>
    <h3>This page displays a list of all assets that have been added in the database.</h3>
</div>
<br>
<button mat-raised-button color="warn" routerLink="/assets" class="button-margin">+ Add Asset</button><br>
<br>

<div class="table-padding">
  <table>
    <table>
      <span class="listassets">{{item.id}} {{item.name}}</span>
      <tr>
        <th>Internal ID</th>
        <th>Name</th>
        <th>Model</th>
        <th>Description</th>
        <th>Serial No.</th>
        <th>Cost (USD)</th>
        <th>Qty</th>
        <th>Action</th>
      </tr>

      <tr *ngFor="let item of item let i = index">
        <td>{{item._id}}</td> 
        <td>{{item.itemName}}</td>
        <td>{{item.itemModel}}</td>
        <td>{{item.itemDes}}</td>
        <td>{{item.itemSerial}}</td>
        <td>{{item.itemCost}}</td>
        <td>{{item.itemQty}}</td>
        <td><button id="b1" mat-button color="warn" (click)="onDelete(item._id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button color="primary" id="b1" [routerLink]="['/editAssets', item._id]">
          <mat-icon>edit</mat-icon>
        </button></td>
      </tr>
    </table>
  </table>
</div>