.button-margin {
  margin-left: 10%;
}

div {
    margin-left: 10%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    height: 90%;
    margin-bottom: 25%;
    overflow: auto;
  }

th{
  color: white;
  background-color: #673ab7;
}
  
  td, th {
    border: 1px solid #5e5e5e;
    text-align: center;
    max-width:100%;
    white-space:nowrap;
  }
  

  .b1{
    padding: 1px;
    margin:5px;
  }

  .table-padding {
    padding-top: 10px;
  }